.Header {
 
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100000;
    min-height: 5vh;
   

} 

.Header-container {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    /* background-color: rgba(0, 0, 255, 0.671); */
    box-shadow: 0 0.5px 8px rgba(0, 0, 0, 0.178);
} 

.header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 5px 10%;
    /* background-color: palegreen; */
}

.header-left img {
    width: 120px;
    object-fit: contain;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.header-left ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
} 

.header-left ul li{
    display: inline-block;
    margin: 0px 2px;
    padding: 2px 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s ease-in-out;
} 

.header-left ul li:hover {
    background-color: #ddd;
    border-radius: 20px;
    padding: 2px 5px; 
}

.header-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 20% 5px 0%;
    width: 30%; 
    /* background-color: aqua; */
   
} 
.header-mid input[type="text"]:focus {

    width: 100%;

}
  /* border: none;
    outline: none; */
 .header-mid input[type="text"] {
  
    align-content: start;
    background: transparent;
    text-align: left;
    width: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
    border-radius: 5px; 
    transition: width 1s ease-in-out;
    padding: 5px ;
} 

.header-mid .MuiSvgIcon-root {
    color: slategrey;
    transition: .2s ease-in-out;
    
}

.header-mid .MuiSvgIcon-root:hover {
    color: black;
    
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10% 0px 0%;
   	/* width: 20%; */
    /* background-color: lightcoral; */
}

.header-right-container {
    display: flex;	
    align-items: center;
    padding: 0;
} 

.header-right-container> .MuiSvgIcon-root {
    color: black;
    cursor: pointer;
}

.header-left >img:hover {
    opacity: 0.8;
}

.dark-mode {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 2%  0px 0px;
    /* background-color: cadetblue; */
    cursor: pointer;
    transition: .2s ease-in-out;
}

.dark-mode:hover {
    transform: scale(1.1); 
}
.header-right ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0px 50% 0px 5px;
    /* background-color: lightcyan; */
} 

.header-right ul li{
    display: inline-block;
    padding: 0px 25% 0px 5px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s ease-in-out;
} 

.header-right ul li:hover {
    transform: scale(1.1);
   
}

